In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier

from sklearn.metrics import accuracy_score

from sklearn.svm import SVC

In [4]:
train_df = pd.read_csv('train.csv')
train_df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [5]:
print("The shape of train data is : ", train_df.shape)
print("The size of train data is : ", train_df.size)
print("The describe value of train data is : ", train_df.describe)

The shape of train data is :  (54808, 14)
The size of train data is :  767312
The describe value of train data is :  <bound method NDFrame.describe of        employee_id         department     region         education gender  \
0            65438  Sales & Marketing   region_7  Master's & above      f
1            65141         Operations  region_22        Bachelor's      m
2             7513  Sales & Marketing  region_19        Bachelor's      m
3             2542  Sales & Marketing  region_23        Bachelor's      m
4            48945         Technology  region_26        Bachelor's      m
...            ...                ...        ...               ...    ...
54803         3030         Technology  region_14        Bachelor's      m
54804        74592         Operations  region_27  Master's & above      f
54805        13918          Analytics   region_1        Bachelor's      m
54806        13614  Sales & Marketing   region_9               NaN      m
54807        51526                 HR  region_22        Bachelor's      m

      recruitment_channel  no_of_trainings  age  previous_year_rating  \
0                sourcing                1   35                   5.0
1                   other                1   30                   5.0
2                sourcing                1   34                   3.0
3                   other                2   39                   1.0
4                   other                1   45                   3.0
...                   ...              ...  ...                   ...
54803            sourcing                1   48                   3.0
54804               other                1   37                   2.0
54805               other                1   27                   5.0
54806            sourcing                1   29                   1.0
54807               other                1   27                   1.0

       length_of_service  KPIs_met >80%  awards_won?  avg_training_score  \
0                      8              1            0                  49
1                      4              0            0                  60
2                      7              0            0                  50
3                     10              0            0                  50
4                      2              0            0                  73
...                  ...            ...          ...                 ...
54803                 17              0            0                  78
54804                  6              0            0                  56
54805                  3              1            0                  79
54806                  2              0            0                  45
54807                  5              0            0                  49

       is_promoted
0                0
1                0
2                0
3                0
4                0
...            ...
54803            0
54804            0
54805            0
54806            0
54807            0

[54808 rows x 14 columns]>

In [7]:
train_df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [8]:
train_df['education'].value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [9]:
train_df['education'].fillna(train_df['education'].mode()[0],inplace=True)
train_df.isnull().sum()

employee_id                0
department                 0
region                     0
education                  0
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [10]:
train_df['previous_year_rating'].fillna(train_df['previous_year_rating'].mode()[0],inplace=True)
train_df.isnull().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [13]:
# outlier treatment

sns.boxplot(train_df['department'])

/home/harishma/.local/lib/python3.8/site-packages/seaborn/_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

TypeError: Horizontal orientation requires numeric `x` variable.

In [14]:
numericalColumns = train_df.select_dtypes(include=np.number).columns
numericalColumns

Index(['employee_id', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

In [15]:
descreteCols = []
continuesCols = []

for column in numericalColumns:
    if train_df[column].nunique()>20:
        continuesCols.append(column)
    else:
        descreteCols.append(column)

In [16]:
continuesCols

['employee_id', 'age', 'length_of_service', 'avg_training_score']

In [19]:
for column in continuesCols:
    upper_lim = train_df[column].mean() + train_df[column].std()*3
    lower_lim = train_df[column].mean() - train_df[column].std()*3

    train_df.loc[(train_df[column] > upper_lim), column] = upper_lim
    train_df.loc[(train_df[column] < lower_lim), column] = lower_lim

In [20]:
# train test split
test_df = pd.read_csv('test.csv')
test_df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [22]:
X_df = train_df.drop['age']
X_df

TypeError: 'method' object is not subscriptable

In [21]:
X_train, X_test, y_train, y_test = train_test_split(train_df, test_df, test_size=0.3, random_state=10)

ValueError: Found input variables with inconsistent numbers of samples: [54808, 23490]